h1{
    text-align: center;
    color: black;
    
}

button{
    background-color: deeppink;
    margin: 0 auto;
}

body{
    background: rgb(34,180,178);
    background: linear-gradient(90deg, rgba(34,180,178,1) 0%, rgba(118,9,121,1) 35%, rgba(0,212,255,1) 100%);
}


